body {
  height: 1000px;
}

button {
  all: unset;
  cursor: pointer;
  background-color: skyblue;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover {
  background-color: aqua;
}

.modal {
  display: none;
}
.visible {
  display: block;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.modal-content {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  margin: 100px 10% 100px 10%;
  width: 80%;
  padding: 20px;
}

.close {
  float: right;
  font-weight: bold;
}
